.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0.5em;
}

button {
  margin-top: 2px;
  margin-bottom: 20px;
}
